<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="SendHostAd">
        <listeners>
          <add name="LogFile"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="SendHostAd.log" traceOutputOptions="DateTime">
          </add>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
